<div class="contenido">
  <svg width="580" height="400" xmlns="http://www.w3.org/2000/svg">
    <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
    <g>
      <title>background</title>
      <path fill="#ffffff" id="canvas_background" height="402" width="582" d="M-1 -1 L581 -1 L581 401 L-1 401 Z" class="TVwYptxE_0"></path>
      <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
        <path fill="url(#gridpattern)" stroke-width="0" height="100%" width="100%" d="M0 0 L100 0 L100 100 L0 100 Z" class="TVwYptxE_1"></path>
      </g>
    </g>
    <g>
      <title>Layer 1</title>
      <path stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_1" stroke-width="1.5" stroke="#000" fill="none" d="M137.5,152L138.5,245" class="TVwYptxE_2"></path>
      <path d="m135.5,153c0,-1 2,-1 3,-1c1,0 2,0 4,0c1,0 2,0 4,0c1,0 2,0 3,0c2,0 3,0 4,0c2,0 3,0 4,0c1,0 3,0 4,0c1,0 2,0 4,0c1,0 2.152245,0.234634 4,1c1.306564,0.541195 1.823746,1.486256 4,2c0.973251,0.229752 2.186005,0.692547 4,2c1.147263,0.826904 1.770248,2.026752 2,3c0.513748,2.17625 1.234634,3.152241 2,5c0.541199,1.306564 1,2 1,3c0,2 1,3 1,5c0,1 0,2 0,3c0,2 -1,3 -1,4c0,1 -0.292892,1.292892 -1,2c-0.707108,0.707108 -1.076126,0.617317 -2,1c-1.306564,0.541199 -3,2 -4,2c-1,0 -2.152245,-0.765366 -4,0c-1.306564,0.541199 -2,2 -3,2c-2,0 -3,0 -4,0c-2,0 -3,0 -4,0c-1,0 -3,0 -4,0c-1,0 -3,0 -4,0c-1,0 -2,0 -4,0c-1,0 -2,0 -3,0c-2,0 -3,0 -4,0c-2,0 -3,0 -4,0l-1,0" id="svg_3" stroke-width="1.5" stroke="#000" fill="none" class="TVwYptxE_3"></path>
      <path d="m189.5,205c-1,0 -3,0 -4,0c-1,0 -2,0 -4,0c-1,0 -2.152237,-0.765366 -4,0c-1.306564,0.541199 -1.292892,2.292892 -2,3c-1.414215,1.414215 -2.292892,1.292892 -3,2c-0.707108,0.707108 -0.692551,2.186005 -2,4c-0.826904,1.14727 -2.486259,1.823746 -3,4c-0.229752,0.973251 -1.486259,1.823746 -2,4c-0.229752,0.973251 -0.229752,2.026749 0,3c0.513741,2.176254 1.186005,2.692551 3,4c1.14727,0.826904 2.076118,1.61731 3,2c1.306564,0.541199 2,1 3,2c1,1 3,1 4,1c1,0 2,0 4,0c1,0 2.152237,0.765366 4,0c1.306564,-0.541199 1.292892,-2.292892 2,-3c0.707108,-0.707108 1,-2 2,-3c1,-1 1,-3 1,-4c0,-1 0,-2 0,-4c0,-1 0,-2 0,-4c0,-1 0,-2 0,-3c0,-1 -1,-2 -1,-3c0,-1 2,-4 0,-4c-1,0 0,2 0,4c0,1 0,2 0,4c0,1 0,2 0,3c0,2 0,3 0,4c0,2 0,3 0,4c0,1 0,3 1,4c1,1 2.076126,1.61731 3,2c1.306564,0.541199 2,2 3,2c1,0 3,0 4,0l1,0l2,0" id="svg_4" stroke-width="1.5" stroke="#000" fill="none" class="TVwYptxE_4"></path>
      <path d="m216.5,148c0,2 0,3 0,4c0,2 0,3 0,4c0,1 0,3 0,4c0,1 0,3 0,4c0,1 0,2 0,4c0,1 0,2 0,4c0,1 0,2 0,3c0,2 0,3 0,4c0,1 0,3 0,4c0,1 0,3 0,4c0,1 0,2 0,4c0,1 0,2 0,4c0,1 0,2 0,3c0,2 0,3 0,4c0,2 0,3 0,4c0,1 0,3 0,4c0,1 0,2 0,4c0,1 0,2 0,4c0,1 -0.229752,2.026749 0,3c0.513748,2.176254 2,3 2,4c0,2 0,3 0,4c0,2 -0.306564,3.458801 1,4c0.923874,0.38269 2,0 4,0c1,0 2,0 4,0c1,0 2.186005,0.307449 4,-1c1.147263,-0.826904 2,-1 4,-3c1,-1 1,-3 2,-4c1,-1 0.61731,-3.076118 1,-4c0.541199,-1.306564 2,-3 2,-4c0,-1 0,-3 0,-4c0,-1 -0.186005,-1.692551 -2,-3c-1.147263,-0.826904 -2.186005,-1.692551 -4,-3c-1.147263,-0.826904 -3,-2 -4,-2c-1,0 -2.152237,0.765366 -4,0c-1.306564,-0.541199 -2,-1 -4,-1c-1,0 -2,0 -4,0l-1,0" id="svg_5" stroke-width="1.5" stroke="#000" fill="none" class="TVwYptxE_5"></path>
      <path d="m257.5,149c0,-1 0,1 0,2c0,1 0,2 0,4c0,1 0,2 0,4c0,1 0,2 0,3c0,2 0,3 0,4c0,2 0,3 0,4c0,1 0,3 0,4c0,1 0,3 0,4c0,1 0,2 0,4c0,1 0,2 0,3c0,2 0,3 0,4c0,2 0,3 0,4c0,1 0,3 0,4c0,1 0,3 0,4c0,1 0,2 0,4c0,1 0,2 0,4c0,1 0,2 0,3c0,2 0,3 0,4c0,1 0,3 0,4c0,1 0,3 0,4l0,1l0,1l0,2" id="svg_6" stroke-width="1.5" stroke="#000" fill="none" class="TVwYptxE_6"></path>
      <path d="m289.5,203c0,-1 -1.186005,-1.307449 -3,0c-1.147263,0.826904 -1.852737,1.173096 -3,2c-1.813995,1.307449 -2.852737,2.173096 -4,3c-1.813995,1.307449 -3.458801,2.693436 -4,4c-0.38269,0.923882 -1.486252,1.823746 -2,4c-0.229752,0.973251 -0.486252,1.823746 -1,4c-0.229752,0.973251 -0.38269,2.076118 0,3c0.541199,1.306564 1.852737,2.173096 3,3c1.813995,1.307449 3,1 4,1c2,0 3,0 4,0c1,0 1.418854,-1.418861 3,-3c1.581146,-1.581139 2.458801,-2.693436 3,-4c0.765366,-1.847755 1.458801,-2.693436 2,-4c0.765366,-1.847755 0,-3 0,-4c0,-2 0,-3 0,-4c0,-2 0,-3 0,-4c0,-1 0.38269,-3.076118 0,-4c-0.541199,-1.306564 -1,1 -1,2c0,1 1,2 1,4c0,1 0,2 0,3c0,2 1.486252,2.823746 2,5c0.229752,0.973251 0,2 0,3c0,2 0.173096,2.85273 1,4c1.307449,1.813995 3,2 4,3l1,0l2,0l1,0" id="svg_7" stroke-width="1.5" stroke="#000" fill="none" class="TVwYptxE_7"></path>
      <path d="m324.5,198c1,0 1,-1 0,-1c-1,0 -1.292908,0.292892 -2,1c-0.707092,0.707108 -2.418854,0.418861 -4,2c-1.581146,1.581139 -2,3 -4,5c-1,1 -1.292908,1.292892 -2,2c-0.707092,0.707108 0,3 0,4c0,1 0,3 0,4c0,1 0,2 0,4c0,0 0,1 1,2c1,1 2,1 3,1c1,0 3,0 4,0c1,0 3,0 4,0c1,0 2.076111,0.382683 3,0c1.306549,-0.541199 1.458801,-1.693436 2,-3c0.765381,-1.847755 0.458801,-2.693436 1,-4c0.765381,-1.847755 0,-3 0,-4c0,-1 0,-3 1,-4c1,-1 1,-3 1,-4c0,-1 0,-3 0,-4c0,-1 -0.765381,-2.152245 0,-4c0.541199,-1.306564 1,-2 1,-4c0,-1 0,-2 0,-3c0,-2 0,-3 0,-4c0,-2 0,-3 0,-4c0,-1 0,-3 0,-4c0,-1 0,-3 0,-4c0,-1 0,-2 0,-4c0,-1 0,-2 0,-4c0,-1 0,-2 0,-3c0,-2 0,-3 0,-4c0,-2 0,-3 0,-4c0,-1 0,-3 0,-4c0,-1 0,-3 0,-4c0,-1 0,-2 0,-4c0,-1 0,-2 0,-3c0,-2 1,-4 0,-4c-1,0 1,2 1,3c0,1 0,3 0,4c0,1 0,3 1,4c1,1 1,3 1,4c0,1 0,2 0,4c0,1 0,2 0,4c0,1 0,2 0,3c0,2 0,3 0,4c0,1 0,3 0,4c0,1 0,3 0,4c0,1 0,2 0,4c0,1 0,2 0,4c0,1 -1,2 -1,4c0,1 0,2 0,3c0,2 0,3 0,4c0,2 0,3 0,4c0,1 0,3 0,4c0,1 0,3 0,4c0,1 0,2 0,4c0,1 1,3 1,4c0,1 -1.414215,2.585785 0,4c0.707092,0.707108 1.076111,0.617317 2,1c1.306549,0.541199 1,2 2,2l0,1l1,0l1,2" id="svg_9" stroke-width="1.5" stroke="#000" fill="none" class="TVwYptxE_8"></path>
      <path d="m322.5,199c0,0 -0.306549,-1.458801 1,-2c0.923889,-0.382683 2,-1 4,-1c0,0 0.076111,0.382683 1,0c1.306549,-0.541199 3,-1 4,-1l1,0" id="svg_10" stroke-width="1.5" stroke="#000" fill="none" class="TVwYptxE_9"></path>
      <path d="m381.5,198c-1,-1 -1.693451,-1.458801 -3,-2c-1.847748,-0.765366 -3,0 -4,0c-2,0 -3,0 -4,0c-2,0 -3.026764,-0.229752 -4,0c-2.176239,0.513741 -2.770233,2.026749 -3,3c-0.513733,2.176254 -1.770233,3.026749 -2,4c-0.513733,2.176254 -2,3 -2,4c0,2 0,3 0,4c0,1 0,3 0,4c0,1 0.458801,2.693436 1,4c0.38269,0.923882 1.693451,2.458801 3,3c0.923889,0.382683 3,0 4,1c1,1 3,1 4,1c1,0 3,0 4,0c1,0 1.692535,-0.186005 3,-2c0.826904,-1.14727 0.692535,-2.186005 2,-4c0.826904,-1.14727 1,-3 1,-4c0,-1 0,-2 0,-4c0,-1 0,-2 0,-4c0,-1 0,-2 0,-3c0,-1 0,-3 0,-4c0,-1 1,1 1,2c0,1 0.458801,2.693436 1,4c0.38269,0.923882 0.458801,2.693436 1,4c0.38269,0.923882 0,2 0,4c0,1 0.458801,1.693436 1,3c0.765381,1.847755 0.292908,2.292892 1,3c0.707092,0.707108 1,2 3,2c1,0 2,0 3,0c2,0 3,0 4,0l1,-1" id="svg_13" stroke-width="1.5" stroke="#000" fill="none" class="TVwYptxE_10"></path>
      <path d="m433.5,191c0,-1 -1,-1 -2,-1c-1,0 -1.474274,0.149345 -2,1c-1.175568,1.902115 -2.852722,1.173096 -4,2c-1.813995,1.307449 -2.823761,2.486259 -5,3c-0.973236,0.229752 -2.173096,1.85273 -3,3c-1.307465,1.813995 -1.707092,3.292892 -1,4c0.707092,0.707108 1.823761,0.486259 4,1c0.973236,0.229752 2,0 4,0c1,0 2,0 3,0c2,0 2.076111,0.617317 3,1c1.306549,0.541199 1.61731,2.076118 2,3c0.541199,1.306564 1.692535,2.186005 3,4c0.826904,1.14727 2.486267,1.823746 3,4c0.229767,0.973251 0,2 -1,3c-1,1 -1.292908,1.292892 -2,2c-0.707092,0.707108 -1.693451,1.458801 -3,2c-0.923889,0.382683 -3,0 -4,0c-1,0 -2.186005,-0.307449 -4,1c-1.147278,0.826904 -2,1 -4,1c-1,0 -2,0 -4,0c-1,0 -2,0 -3,0l-2,0l-1,0l-1,0" id="svg_14" stroke-width="1.5" stroke="#000" fill="none" class="TVwYptxE_11"></path>
      <path d="m139.5,261c-1,1 0,2 1,3c1,1 3.076118,1.61731 4,2c1.306564,0.541199 2.823746,1.486252 5,2c0.973251,0.229752 3.078438,-0.210144 6,1c2.065857,0.855713 4,2 6,2c3,0 6,0 10,0c2,0 5.925797,1.497559 11,2c3.98053,0.39415 7,0 10,0c3,0 7,0 10,0c4,0 6,0 9,0c2,0 5,0 7,0c3,0 5,0 8,0c2,0 5,0 7,0c2,0 4,0 7,0c2,0 3,0 6,0c3,0 5,-1 7,-1c2,0 4,0 7,0c2,0 4,0 7,0c1,0 3,0 5,0c2,0 4.878555,-1.493454 8,-2c2.961258,-0.480545 5,0 7,0c2,0 5,0 7,0c2,0 4,0 6,0c2,0 4,0 6,0c2,0 4.025818,0.320358 6,0c3.121429,-0.506546 6,-1 9,-1c2,0 4,0 6,0c2,0 4,0 6,0c1,0 3,0 5,-1c2,-1 3,-1 4,-1c2,0 3,0 4,0c1,0 3.076111,0.38269 4,0c1.306549,-0.541199 3,-1 4,-1c1,0 2.07843,0.210144 5,-1c2.065857,-0.855713 3,-1 4,-1c2,0 3.026764,-0.770248 4,-1c2.176239,-0.513748 3,-1 4,-1c3,0 4.693451,-1.458801 6,-2c1.847748,-0.765366 3,-1 4,-1c1,0 3.152252,-0.234634 5,-1c1.306549,-0.541199 2.228363,-0.851944 5,-2c1.306549,-0.541199 2,-2 4,-2c1,0 3,-1 5,-2c2,-1 3,-1 4,-1c2,0 2.693451,-1.458801 4,-2c1.847748,-0.765366 3,-1 4,-1c2,0 3,-1 4,-1c2,0 2.693451,-1.458801 4,-2c1.847748,-0.765366 2.693451,-0.458801 4,-1c1.847748,-0.765366 2.693451,-1.458801 4,-2c1.847748,-0.765366 2.693451,-1.458801 4,-2c1.847748,-0.765366 2.298706,0.051468 4,-1c1.9021,-1.175568 2.692535,-3.186005 4,-5c0.826904,-1.147263 2.61731,-3.076126 3,-4c0.541199,-1.306564 2.61731,-3.076118 3,-4c0.541199,-1.306564 2.418854,-2.418861 4,-4c1.581146,-1.581139 2.234619,-3.152245 3,-5c0.541199,-1.306564 0.585785,-2.585785 2,-4c0.707092,-0.707108 2,-1 2,-2c0,-1 1,-3 1,-4c0,-1 0,-3 0,-4c0,-1 0.306549,-3.458801 -1,-4c-0.923889,-0.382683 -0.61731,-1.076118 -1,-2c-0.541199,-1.306564 -2.458801,-2.693436 -3,-4c-0.38269,-0.923882 -1.292908,-2.292892 -2,-3c-0.707092,-0.707108 0,-2 0,-3c0,-2 -1,-2 -1,-3c0,-1 0.306549,-2.458801 -1,-3c-0.923889,-0.382683 -1.292908,-1.292892 -2,-2c-0.707092,-0.707108 -0.292908,-2.292892 -1,-3c-0.707092,-0.707108 -0.585785,-1.585785 -2,-3c-0.707092,-0.707108 -1.824432,-0.097885 -3,-2c-1.051453,-1.701302 -1.824432,-2.097885 -3,-4c-1.051453,-1.701302 -1,-2 -2,-3c-1,-1 -3.076111,-2.617317 -4,-3c-1.306549,-0.541195 -1.076111,-1.617317 -2,-2c-1.306549,-0.541195 -2,-1 -3,-2c-1,-1 -2.693451,-2.458805 -4,-3c-0.923889,-0.382683 -2.693451,-1.458805 -4,-2c-0.923889,-0.382683 -2.693451,-1.458805 -4,-2c-0.923889,-0.382683 -2.693451,-1.458805 -4,-2c-1.847748,-0.765366 -2.693451,-1.458805 -4,-2c-1.847748,-0.765366 -2.693451,-1.458805 -4,-2c-1.847748,-0.765366 -3.026764,-0.770248 -4,-1c-2.176239,-0.513744 -3.186005,-0.692547 -5,-2c-1.147278,-0.826904 -2,-2 -4,-2c-1,0 -2.186005,0.307453 -4,-1c-1.147278,-0.826904 -2.152252,-0.234634 -4,-1c-1.306549,-0.541195 -1.823761,-1.486256 -4,-2c-0.973236,-0.229752 -2.186005,0.307453 -4,-1c-1.147278,-0.826904 -2.186005,-0.692547 -4,-2c-1.147278,-0.826904 -2.152252,-0.234632 -4,-1c-1.306549,-0.541197 -2.152252,-1.234632 -4,-2c-1.306549,-0.541197 -1.693451,-1.458803 -3,-2c-0.923889,-0.382683 -2.076111,0.382683 -3,0c-1.306549,-0.541197 -3.026764,-1.770247 -4,-2c-2.176239,-0.513742 -3,-1 -4,-1c-1,0 -3,-1 -4,-1c-1,0 -3,0 -4,-1c-1,-1 -3,-1 -4,-1c-1,0 -3,0 -4,0c-1,0 -1.823761,-0.486258 -4,-1c-0.973236,-0.229753 -2,0 -4,0c-1,0 -2,0 -3,0c-2,0 -4,0 -5,0c-1,0 -4,0 -6,0c-2,0 -4,0 -5,0c-2,0 -4,0 -6,0c-2,0 -4,0 -6,0c-2,0 -5,0 -7,0c-2,0 -4,0 -5,0c-2,0 -5,0 -7,0c-3,0 -5,0 -7,0c-3,0 -6,0 -8,0c-2,0 -4,1 -6,1c-1,0 -2,0 -4,0c-1,0 -2,0 -3,0c-2,0 -4,0 -6,0c-1,0 -3,0 -4,0c-2,0 -3.823746,0.486258 -6,1c-1.946503,0.459505 -4,0 -5,0c-2,0 -4,0 -6,0c-2,0 -4,0 -6,0c-3,0 -5.053497,-0.459505 -7,0c-2.176254,0.513742 -4,2 -5,2c-1,0 -3,0 -4,0c-1,0 -3,0 -4,0c-1,0 -3,0 -5,0c-2,0 -3,1 -5,1c-2,0 -4,0 -5,0c-1,0 -2.186005,-0.307451 -4,1c-1.14727,0.826904 -2,1 -4,1c-1,0 -2,0 -4,0c-1,0 -2,1 -4,1c-1,0 -2,1 -4,1c-1,0 -1.934143,0.144295 -4,1c-2.921562,1.210152 -5.053505,1.540495 -7,2c-2.176254,0.513744 -5.022476,2.63345 -8,3c-4.092216,0.503773 -6.878555,2.493458 -10,3c-1.974174,0.320366 -2.823746,1.486256 -5,2c-0.973251,0.229752 -2.152245,0.234634 -4,1c-1.306564,0.541195 -2.186005,1.692547 -4,3c-1.14727,0.826904 -1.292892,2.292892 -2,3c-0.707108,0.707108 -1.458801,1.693436 -2,3c-0.382683,0.923878 -0.617317,2.076122 -1,3c-0.541199,1.306564 -1.85273,3.173096 -3,4c-1.813992,1.307453 -2.173096,2.85273 -3,4c-1.307453,1.813992 -1.173096,2.85273 -2,4c-1.307453,1.813995 -1.173096,2.85273 -2,4c-1.307453,1.813995 -1,3 -1,4c0,2 0,3 0,4c0,2 -0.173096,2.85273 -1,4c-1.307453,1.813995 -0.617317,3.076118 -1,4c-0.541195,1.306564 -1,3 -1,4c0,1 0,3 0,4c0,1 0,3 0,4c0,1 0,2 0,4c0,1 0,2 0,3c0,2 0,3 0,4c0,2 0.458805,2.693436 1,4c0.382683,0.923882 0.292892,2.292892 1,3c0.707108,0.707108 0.540493,2.053505 1,4c0.513744,2.176254 2.458805,3.693436 3,5c0.382683,0.923882 1.292892,2.292892 2,3c0.707108,0.707108 1.458805,1.693436 2,3c0.382683,0.923874 1,2 2,3c1,1 1.617317,2.076126 2,3c1.08239,2.613129 1.693436,3.458801 3,4c0.923882,0.38269 3,2 4,3c2,2 2.85273,3.173096 4,4c1.813995,1.307449 2.076118,1.61731 3,2c1.306564,0.541199 3,3 4,4c1,1 1,3 2,4c1,1 2.486259,0.823746 3,3c0.229752,0.973251 2,2 3,3c1,1 2,2 4,3l0,1l1,0" id="svg_20" stroke-width="1.5" stroke="#000" fill="none" class="TVwYptxE_12"></path>
      <path stroke="#000" transform="rotate(-16.727537155151367 435.3921813964843,146.31018066406244) " id="svg_21" d="m418.545883,105.243834c0,0 0,-2.675101 -0.788096,-4.406824c-0.451609,-0.978333 -1.893865,-1.475565 -1.893865,-1.475565c0,0 -1.548796,-0.719259 -3.425656,-0.566477c-1.454066,0.117859 -3.334199,1.112227 -3.334199,1.112227c0,0 -2.077466,0.065759 -2.790446,1.409901c-0.870467,1.652717 0.503838,3.580481 0.503838,3.580481c0,0 -0.182319,1.124904 -0.883512,2.069929c-0.577694,0.776905 -1.701728,1.419725 -1.701728,1.419725c0,0 -0.213034,0.195248 -0.372511,0.566635c-0.141145,0.338904 -0.22347,0.869443 -0.22347,0.869443c0,0 -0.692725,0.639271 -0.740445,1.431483c-0.052915,0.846942 0.540457,1.853163 0.540457,1.853163c0,0 0.270526,1.565472 0.761982,2.695668c0.316941,0.733742 0.931255,1.203085 0.931255,1.203085c0,0 1.407628,1.491727 3.127002,1.836208c1.30047,0.259708 3.036849,-0.604347 3.036849,-0.604347c0,0 -0.892049,3.522011 -0.791415,7.109781c-0.142541,5.631332 3.261922,10.384983 4.718299,16.727208c0.51432,1.910777 0.197356,4.131714 0.197356,4.131714c0,0 0.147691,5.573972 0.691398,10.53729c0.443095,4.078664 1.293948,7.723921 1.293948,7.723921c0,0 -0.520705,2.20319 -0.394071,3.623708c-0.441333,0.362101 -2.329522,1.946651 -2.089253,3.213594c0.360518,0.079925 1.027976,-0.41005 1.027976,-0.41005c0,0 0.305818,0.4496 0.68357,0.517989c0.277713,0.053843 0.537161,0.13044 0.658738,-0.262687c0.650865,0.195058 1.804972,-0.52512 1.804972,-0.52512c0,0 0.88809,-0.892007 1.306993,-1.841406c0.226766,-0.509021 0.584515,-0.037459 0.120249,-1.372252c-0.464289,-1.334793 0.047697,-1.598621 0.047697,-1.598621c0,0 1.037772,0.685096 1.72917,0.643803c0.339805,-0.023388 0.595981,-0.791198 0.595981,-0.791198c0,0 -0.124804,-1.602424 -0.042456,-3.006842c0.121531,-1.997959 0.4666,-4.00308 0.4666,-4.00308c0,0 0.831238,-1.231988 1.479517,-4.763031c0.448313,-2.437545 0.49601,-5.855356 0.809701,-8.372097c0.313691,-2.559904 0.943729,-4.241936 0.892026,-4.202734c1.510758,2.654533 3.40476,3.284646 3.40476,3.284646c0,0 -0.309114,4.033757 -0.049024,7.322808c0.249653,3.17135 1.067182,5.600941 1.067182,5.600941c0,0 0.864219,2.92546 1.12337,4.905989c0.184448,1.409742 -0.036825,1.755396 -0.205206,2.105804c-1.026649,1.657661 -5.604078,-1.352984 -6.691217,0.814617c-0.111758,0.086358 -0.348319,0.4927 -0.622141,0.722872c-0.290804,0.244655 -0.867194,1.453191 -0.693366,1.589842c0.144418,0.118683 0.454836,-0.016194 0.454836,-0.016194c0,0 -0.08363,0.739066 0.108485,1.008851c0.205206,0.27511 0.68357,0.088038 0.68357,0.088038c0,0 0.311723,-0.341661 0.896604,-0.438699c0.556776,-0.091745 1.392614,0.061069 1.392614,0.061069c0,0 2.271,-1.142778 4.275227,0.748161c1.056928,0.763183 1.864433,0.767905 2.934887,0.951269c0.595981,0.10252 0.865889,-0.537638 0.865889,-0.537638c0,0 0.196715,0.361468 0.590763,0.674353c0.448954,0.348855 0.927982,0.863136 0.927982,0.863136c0,0 -0.224798,0.383144 -0.586208,0.654578c-0.22807,0.165554 -0.658715,0.269849 -0.658715,0.269849c0,0 -1.663506,0.356904 -3.23551,-0.336242c-0.260753,-0.021582 -2.16636,1.393612 -2.414045,1.695722c-0.188865,0.226622 0.184104,0.925853 0.500588,1.107791c1.616336,1.322814 2.760693,-0.631475 5.349573,0.724805c2.389075,0.39994 3.376655,-0.05042 4.173288,-0.848812c0.52867,-0.528764 0.571812,-1.658137 0.571812,-1.658137c0,0 0.765255,-1.415352 0.82602,-2.731733c0.02616,-0.580801 -1.010307,-2.647149 -1.443584,-3.700938c-0.356811,-0.859587 -0.775714,-1.911601 -0.775714,-1.911601c0,0 -0.334587,-0.97827 -0.561353,-2.226325c-0.16925,-0.906489 -0.200629,-1.976378 -0.409108,-2.844996c-0.24963,-1.064691 -0.692702,-1.906182 -0.692702,-1.906182c0,0 1.198531,-1.314606 2.116695,-2.96013c1.136438,-2.043816 2.033706,-4.494925 2.033706,-4.494925c0,0 2.957752,-3.024811 5.16659,-6.663698c1.397832,-2.297471 2.437572,-5.850032 2.437572,-5.850032c0,0 0.518005,0.745911 1.252774,1.689574c5.22081,6.705119 5.638683,20.343119 7.280653,35.121394c1.068074,9.612926 3.617153,15.749097 5.271184,17.73983c1.505677,1.8145 3.394942,1.908052 3.394942,1.908052c0,0 1.180885,0.026937 1.315484,-0.309336c0.129404,-0.311174 -0.793337,-0.992752 -0.793337,-0.992752c0,0 -1.693397,-1.200202 -2.755818,-3.100299c-4.448895,-7.956565 -4.897208,-31.027487 -6.890198,-40.80958c-1.007172,-4.943511 -2.364997,-18.169497 -11.839863,-25.388105c-6.885094,-5.245558 -21.766087,-8.785348 -25.493808,-15.329001c-0.748936,-1.314701 -1.560583,-2.673263 -1.560583,-2.673263z" stroke-width="1.5" fill="#fff" class="TVwYptxE_13"></path>
      <path stroke="#000" transform="rotate(23.332401275634766 118.50004577636747,261.99990844726557) " id="svg_22" d="m141.048359,292.236098c0,0 0,1.969615 1.054845,3.244643c0.604466,0.720324 2.534886,1.086424 2.534886,1.086424c0,0 2.07302,0.529574 4.585146,0.417084c1.946227,-0.086777 4.462733,-0.818907 4.462733,-0.818907c0,0 2.780631,-0.048417 3.734935,-1.038078c1.165096,-1.216858 -0.674373,-2.636226 -0.674373,-2.636226c0,0 0.244029,-0.828241 1.182557,-1.524041c0.773228,-0.572017 2.277716,-1.045311 2.277716,-1.045311c0,0 0.285139,-0.143757 0.498596,-0.4172c0.188919,-0.249527 0.299109,-0.640151 0.299109,-0.640151c0,0 0.927193,-0.47068 0.991065,-1.053968c0.070825,-0.623584 -0.723387,-1.364441 -0.723387,-1.364441c0,0 -0.362092,-1.152621 -1.019891,-1.984758c-0.424217,-0.540237 -1.246459,-0.885804 -1.246459,-0.885804c0,0 -1.884071,-1.098324 -4.185405,-1.351958c-1.740644,-0.191217 -4.064739,0.444967 -4.064739,0.444967c0,0 1.193983,-2.593176 1.059286,-5.234768c0.190787,-4.14622 -4.365992,-7.646223 -6.315313,-12.315857c-0.688403,-1.406861 -0.264155,-3.042086 -0.264155,-3.042086c0,0 -0.19768,-4.103987 -0.925417,-7.758363c-0.593071,-3.003026 -1.731913,-5.686945 -1.731913,-5.686945c0,0 0.69695,-1.622158 0.527453,-2.668052c0.590712,-0.266607 3.118001,-1.433275 2.796407,-2.366095c-0.482544,-0.058847 -1.375918,0.30191 -1.375918,0.30191c0,0 -0.409329,-0.33103 -0.91494,-0.381384c-0.371711,-0.039643 -0.718975,-0.09604 -0.881702,0.19341c-0.871164,-0.143617 -2.415905,0.386634 -2.415905,0.386634c0,0 -1.188684,0.656764 -1.749374,1.355785c-0.30352,0.37478 -0.782357,0.02758 -0.16095,1.010358c0.621437,0.982778 -0.063841,1.177028 -0.063841,1.177028c0,0 -1.389029,-0.50442 -2.314445,-0.474017c-0.45482,0.01722 -0.797704,0.582541 -0.797704,0.582541c0,0 0.167046,1.179828 0.056826,2.213869c-0.162666,1.471051 -0.624531,2.947376 -0.624531,2.947376c0,0 -1.112589,0.907084 -1.980292,3.50691c-0.600055,1.794708 -0.663896,4.311164 -1.083763,6.164182c-0.419867,1.884798 -1.263154,3.123239 -1.193953,3.094376c-2.022107,-1.954472 -4.557177,-2.418409 -4.557177,-2.418409c0,0 0.41374,-2.969963 0.065618,-5.391615c-0.334154,-2.334992 -1.428393,-4.123844 -1.428393,-4.123844c0,0 -1.156733,-2.153949 -1.503599,-3.612166c-0.246878,-1.037961 0.04929,-1.292458 0.274663,-1.550455c1.374141,-1.220498 7.500902,0.996171 8.956008,-0.599784c0.149585,-0.063583 0.466216,-0.362764 0.832719,-0.532234c0.389233,-0.180133 1.160715,-1.069951 0.928051,-1.170564c-0.193299,-0.087383 -0.608786,0.011923 -0.608786,0.011923c0,0 0.111936,-0.544157 -0.145204,-0.742794c-0.274663,-0.202557 -0.91494,-0.06482 -0.91494,-0.06482c0,0 -0.417232,0.251557 -1.200079,0.323004c-0.745229,0.06755 -1.863975,-0.044963 -1.863975,-0.044963c0,0 -3.03967,0.841401 -5.722273,-0.550854c-1.414669,-0.561914 -2.495491,-0.56539 -3.928265,-0.700397c-0.797704,-0.075483 -1.158969,0.39585 -1.158969,0.39585c0,0 -0.263298,-0.26614 -0.79072,-0.49651c-0.600913,-0.256854 -1.242078,-0.635507 -1.242078,-0.635507c0,0 0.300885,-0.2821 0.784624,-0.48195c0.305266,-0.121893 0.881672,-0.198684 0.881672,-0.198684c0,0 2.226557,-0.26278 4.33064,0.247567c0.349011,0.01589 2.899612,-1.026084 3.231132,-1.248521c0.25279,-0.166857 -0.246418,-0.681684 -0.670023,-0.815641c-2.163421,-0.973958 -3.695111,0.46494 -7.160254,-0.533657c-3.19771,-0.294467 -4.519559,0.037123 -5.58583,0.624961c-0.70761,0.389317 -0.765355,1.220848 -0.765355,1.220848c0,0 -1.024272,1.042091 -1.105605,2.011312c-0.035014,0.42763 1.352268,1.949035 1.932197,2.724916c0.477581,0.632894 1.038272,1.407468 1.038272,1.407468c0,0 0.447836,0.720277 0.751355,1.639191c0.226537,0.667427 0.268536,1.455161 0.547579,2.094705c0.334123,0.783907 0.927163,1.403478 0.927163,1.403478c0,0 -1.604201,0.967914 -2.833137,2.179475c-1.521091,1.504815 -2.722059,3.30951 -2.722059,3.30951c0,0 -3.958868,2.227099 -6.915337,4.906328c-1.87096,1.691575 -3.262623,4.307244 -3.262623,4.307244c0,0 -0.693335,-0.549197 -1.676803,-1.243994c-6.987909,-4.936824 -7.547221,-14.97817 -9.744951,-25.859073c-1.429588,-7.077776 -4.841459,-11.595697 -7.055334,-13.061428c-2.015306,-1.335974 -4.544035,-1.404855 -4.544035,-1.404855c0,0 -1.580582,-0.019833 -1.760739,0.227757c-0.173204,0.22911 1.06186,0.730941 1.06186,0.730941c0,0 2.266565,0.883681 3.688586,2.282679c5.954722,5.858235 6.554777,22.844823 9.222339,30.047153c1.348071,3.639793 3.165483,13.377782 15.847329,18.692676c9.215507,3.862183 29.133303,6.468449 34.122754,11.28639c1.00243,0.967984 2.088797,1.968262 2.088797,1.968262z" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#fff" class="TVwYptxE_14"></path>
      <text stroke="#000" transform="matrix(5.271662712097168,0,0,2.8943703174591064,-618.7236459553242,-555.4352969862521) " xml:space="preserve" text-anchor="start" font-family="Arvo, sans-serif" font-size="24" id="svg_30" y="288" x="131.5" stroke-opacity="null" stroke-width="0" fill="#b22323"></text>
    </g>
    <style>.TVwYptxE_0 {
      stroke-dasharray: 1968 1970;
      stroke-dashoffset: 1969;
      animation: TVwYptxE_draw 4000ms linear 0ms forwards;
    }

    .TVwYptxE_1 {
      stroke-dasharray: 400 402;
      stroke-dashoffset: 401;
      animation: TVwYptxE_draw 4000ms linear 71ms forwards;
    }

    .TVwYptxE_2 {
      stroke-dasharray: 94 96;
      stroke-dashoffset: 95;
      animation: TVwYptxE_draw 4000ms linear 142ms forwards;
    }

    .TVwYptxE_3 {
      stroke-dasharray: 117 119;
      stroke-dashoffset: 118;
      animation: TVwYptxE_draw 4000ms linear 214ms forwards;
    }

    .TVwYptxE_4 {
      stroke-dasharray: 130 132;
      stroke-dashoffset: 131;
      animation: TVwYptxE_draw 4000ms linear 285ms forwards;
    }

    .TVwYptxE_5 {
      stroke-dasharray: 147 149;
      stroke-dashoffset: 148;
      animation: TVwYptxE_draw 4000ms linear 357ms forwards;
    }

    .TVwYptxE_6 {
      stroke-dasharray: 80 82;
      stroke-dashoffset: 81;
      animation: TVwYptxE_draw 4000ms linear 428ms forwards;
    }

    .TVwYptxE_7 {
      stroke-dasharray: 105 107;
      stroke-dashoffset: 106;
      animation: TVwYptxE_draw 4000ms linear 500ms forwards;
    }

    .TVwYptxE_8 {
      stroke-dasharray: 229 231;
      stroke-dashoffset: 230;
      animation: TVwYptxE_draw 4000ms linear 571ms forwards;
    }

    .TVwYptxE_9 {
      stroke-dasharray: 13 15;
      stroke-dashoffset: 14;
      animation: TVwYptxE_draw 4000ms linear 642ms forwards;
    }

    .TVwYptxE_10 {
      stroke-dasharray: 120 122;
      stroke-dashoffset: 121;
      animation: TVwYptxE_draw 4000ms linear 714ms forwards;
    }

    .TVwYptxE_11 {
      stroke-dasharray: 86 88;
      stroke-dashoffset: 87;
      animation: TVwYptxE_draw 4000ms linear 785ms forwards;
    }

    .TVwYptxE_12 {
      stroke-dasharray: 881 883;
      stroke-dashoffset: 882;
      animation: TVwYptxE_draw 4000ms linear 857ms forwards;
    }

    .TVwYptxE_13 {
      stroke-dasharray: 418 420;
      stroke-dashoffset: 419;
      animation: TVwYptxE_draw 4000ms linear 928ms forwards;
    }

    .TVwYptxE_14 {
      stroke-dasharray: 386 388;
      stroke-dashoffset: 387;
      animation: TVwYptxE_draw 4000ms linear 1000ms forwards;
    }

    @keyframes TVwYptxE_draw {
      100% {
        stroke-dashoffset: 0;
      }
    }

    @keyframes TVwYptxE_fade {
      0% {
        stroke-opacity: 1;
      }
      95.65217391304348% {
        stroke-opacity: 1;
      }
      100% {
        stroke-opacity: 0;
      }
    }</style>
  </svg>
  <% count = 0 %>
  <% @objectives.each do |objective| %>
      <% count += 1 %>
      <% if count % 2 == 0%>
          <div class="animated  slideInLeft">
            <div id="pablada"><h2><%= objective.name %></h2></div>
          </div>
      <% else %>
          <div class="animated  slideInRight">
            <div id="pablada"><h2><%= objective.name %></h2></div>
          </div>
      <% end %>

  <% end %>

  <%= link_to 'Otra...', example_new_path %>

  <a href="#" id="button">
    <span>Otra...</span>
  </a>
  <audio preload="auto">
    <source src="https://github.com/nclud/2011.beercamp.com/blob/gh-pages/audio/inception.mp3?raw=true" type="audio/mp3" />
    <source src="https://github.com/nclud/2011.beercamp.com/blob/gh-pages/audio/inception.ogg?raw=true" type="audio/ogg" />
  </audio>
  <br />
  <br />
  <br />
  <script>
      document.getElementById('button').onclick = (function() {
          document.getElementsByTagName('audio')[0].play();
          document.getElementsByTagName('span')[0].innerHTML = 'Otra Pablada!';
          return false;
      });
  </script>
</div>
