<svg id="pablo" width="580" height="400" xmlns="http://www.w3.org/2000/svg" class="">
  <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
  <g>
    <title>background</title>
    <path fill="#fff" id="canvas_background" height="402" width="582" d="M-1 -1 L581 -1 L581 401 L-1 401 Z" class="SLrXQrqq_0"></path>
  </g>
  <g>
    <title>Layer 1</title>
    <path stroke="#000" stroke-linecap="null" stroke-linejoin="null" id="svg_1" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none" d="M91.288934,74.792167L90.778616,170.358235" class="SLrXQrqq_1"></path>
    <path d="m88.5,74c0,-1 2,-1 3,-1c1,0 2,0 4,0c1,0 2,0 3,0c1,0 3,0 4,0c1,0 3,0 4,0c1,0 2.693436,1.458801 4,2c0.923882,0.382683 2.152245,-0.765366 4,0c1.306564,0.541199 3.149345,1.474266 4,2c1.902115,1.175568 1.692551,3.186005 3,5c0.826904,1.14727 1.234634,2.152245 2,4c0.541199,1.306564 2.486259,1.823746 3,4c0.229752,0.973251 0,2 0,4c0,1 0,2 0,4c0,1 -0.692551,2.186005 -2,4c-0.826904,1.14727 -2.173096,1.85273 -3,3c-1.307449,1.813995 -2.186005,1.692551 -4,3c-1.14727,0.826904 -2.186005,1.692551 -4,3c-1.14727,0.826904 -3,1 -4,1c-1,0 -2,0 -4,0c-1,0 -2,0 -3,0c-2,0 -3,0 -4,0c-2,0 -3,0 -4,0c-1,0 -3,0 -4,0c-1,0 -3,0 -4,0l-1,1l0,0l-2,1" id="svg_2" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_2"></path>
    <path d="m140.5,129c-1,-1 -2.152237,-1.765366 -4,-1c-1.306564,0.541199 -1.852737,1.173096 -3,2c-1.813995,1.307449 -3.824432,1.097885 -5,3c-0.525734,0.850647 -1.173096,1.852737 -2,3c-1.307449,1.813995 -3.486259,2.823746 -4,5c-0.229752,0.973251 0,2 0,4c0,1 0,2 0,4c0,1 -0.707108,2.292892 0,3c0.707108,0.707108 1,1 2,2c1,1 1.292892,1.292892 2,2c0.707108,0.707108 2.693436,0.458801 4,1c0.923874,0.38269 3,0 4,0c1,0 3,0 4,-1c1,-1 2.458801,-2.693436 3,-4c0.38269,-0.923874 0,-3 0,-4c0,-1 0,-2 0,-4c0,-1 0.765366,-2.152237 0,-4c-0.541199,-1.306564 -1,-2 -1,-4c0,-1 0,-2 0,-4c0,-1 0,-2 0,-3c0,-2 0,-3 0,-4c0,-1 0,1 0,2c0,1 0,2 0,4c0,1 0,2 0,4c0,1 0,2 0,3c0,2 0,3 0,4c0,1 0.076126,2.61731 1,3c1.306564,0.541199 2,2 3,3c1,1 1.292892,1.292892 2,2c1.414215,1.414215 3,2 4,2c0,0 2,1 3,1l1,0" id="svg_3" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_3"></path>
    <path d="m182.5,61c1,-1 2,-1 2,0c0,2 0,3 0,4c0,1 0,3 0,4c0,1 0,3 0,4c0,2 0,3 0,5c0,2 0,4 0,5c0,1 0,3 0,4c0,1 0,3 0,4c0,1 0,2 0,3c0,1 0.765366,2.152245 0,4c-0.541199,1.306564 -0.234634,2.152245 -1,4c-0.541199,1.306564 -1.458801,1.693436 -2,3c-0.765366,1.847755 -0.173096,2.85273 -1,4c-1.307449,1.813995 -1,3 -1,4c0,2 -0.540497,3.053505 -1,5c-0.513748,2.176254 -1,4 -1,5c0,2 0,3 0,4c0,2 0,5 0,6c0,1 0,2 0,4c0,1 0.229752,2.026749 0,3c-0.513748,2.176254 -2,2 -2,4c0,1 0,2 0,3l0,2" id="svg_4" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_4"></path>
    <path d="m182.5,124c1,0 2.152237,-0.234634 4,-1c1.306564,-0.541199 2,-1 4,-1c1,0 2,0 4,0c1,0 2.292892,-0.707108 3,0c0.707108,0.707108 1.292892,1.292892 2,2c0.707108,0.707108 1,2 1,3c0,2 0.458801,2.693436 1,4c0.765366,1.847763 0,3 0,4c0,1 0,3 0,4c0,1 0,3 0,4c0,1 0.38269,2.076126 0,3c-0.541199,1.306564 -1.693436,1.458801 -3,2c-1.847763,0.765366 -3,0 -4,0c-2,0 -3,0 -4,0c-1,0 -3,0 -4,0c-1,0 -2,0 -4,0l-1,0l-1,0l-2,0" id="svg_5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_5"></path>
    <path d="m214.5,70c1,-2 2.458801,-2.306564 3,-1c0.765366,1.847755 -0.689255,5.080254 0,8c0.513748,2.176254 1,4 1,5c0,2 0,4 0,6c0,1 0,3 0,5c0,2 0,5 0,7c0,3 0,5 0,7c0,3 0,5 0,7c0,2 0,4 0,5c0,1 0,3 0,4c0,1 0,2 0,4c0,1 0,3 0,5c0,1 0,3 0,4c0,1 0,3 0,4c0,1 0,2 0,4l0,1l0,1l0,2" id="svg_6" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_6"></path>
    <path d="m244.5,122c-1,2 -1.076126,2.617317 -2,3c-1.306564,0.541199 -1,2 -3,4c-1,1 -1.61731,3.076126 -2,4c-0.541199,1.306564 -2,3 -2,4c0,1 0,2 0,4c0,1 -0.229752,2.026749 0,3c0.513748,2.176254 1.823746,2.486252 4,3c0.973251,0.229752 2,0 4,0c1,0 2,0 3,0c2,0 3,0 4,0c2,0 2.852737,-0.173096 4,-1c1.813995,-1.307449 3,-3 3,-4c0,-1 0,-2 0,-4c0,-1 0,-2 0,-4c0,-1 0,-2 0,-3c0,-2 0,-3 0,-4c0,-1 -1,-1 -2,-2c-1,-1 -3,-2 -4,-2c-1,0 -3,0 -4,0c-1,0 -2,-1 -4,-1l-1,0" id="svg_7" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_7"></path>
    <path d="m328.5,116c1,0 1.306549,1.458801 0,2c-1.847748,0.765366 -2.693451,1.458801 -4,2c-1.847748,0.765366 -3,0 -4,1c-2,2 -3.418854,2.418861 -5,4c-1.581146,1.581139 -1.707092,3.292892 -1,4c0.707092,0.707108 1.693451,1.458801 3,2c1.847748,0.765366 2.823761,2.486252 5,3c0.973236,0.229752 1.852722,1.173096 3,2c1.813995,1.307449 3.486267,1.823746 4,4c0.229767,0.973251 0,2 0,3c0,2 0,3 0,4c0,1 -1.152252,0.234634 -3,1c-1.306549,0.541199 -3,2 -5,2c-1,0 -2,0 -3,0c-2,0 -3,0 -4,0l-2,0l-1,0l-1,0" id="svg_8" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_8"></path>
    <path d="m345.5,132c2,-1 3,-2 4,-2c2,0 3,0 4,0c2,0 2,-1 2,-2c0,-1 -1.692535,-2.186005 -3,-4c-0.826904,-1.14727 -1.152252,-1.234634 -3,-2c-1.306549,-0.541199 -2,-2 -4,-2c-1,0 -2.186005,-0.307449 -4,1c-1.147278,0.826904 -2,2 -2,3c0,1 0,3 0,4c0,1 0,2 0,4c0,1 0,2 0,4c0,1 0,2 0,3c0,2 1,3 2,4c1,1 3.076111,1.61731 4,2c1.306549,0.541199 3,2 4,2c1,0 3,0 4,0c1,0 2,0 4,0l1,0l1,0" id="svg_9" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_9"></path>
    <path stroke="#000" id="svg_11" d="m80.901481,211.805361c0,0 0,-2.813733 0.86085,-4.6352c0.4933,-1.029033 2.068699,-1.552033 2.068699,-1.552033c0,0 1.691775,-0.756533 3.741899,-0.595833c1.5883,0.123967 3.641999,1.169867 3.641999,1.169867c0,0 2.269249,0.069167 3.048049,1.482967c0.950825,1.738367 -0.55035,3.766033 -0.55035,3.766033c0,0 0.19915,1.1832 0.965075,2.1772c0.631025,0.817167 1.858824,1.4933 1.858824,1.4933c0,0 0.2327,0.205367 0.4069,0.596c0.154175,0.356467 0.2441,0.9145 0.2441,0.9145c0,0 0.756675,0.6724 0.8088,1.505667c0.0578,0.890833 -0.59035,1.9492 -0.59035,1.9492c0,0 -0.2955,1.6466 -0.832325,2.835366c-0.3462,0.771767 -1.017225,1.265433 -1.017225,1.265433c0,0 -1.537575,1.569033 -3.415674,1.931367c-1.420525,0.273167 -3.317199,-0.635667 -3.317199,-0.635667c0,0 0.9744,3.704533 0.864475,7.478233c0.1557,5.923166 -3.563049,10.923166 -5.153874,17.594065c-0.5618,2.0098 -0.215575,4.345833 -0.215575,4.345833c0,0 -0.161325,5.862833 -0.755225,11.083366c-0.484,4.290033 -1.4134,8.124199 -1.4134,8.124199c0,0 0.568775,2.317366 0.43045,3.8115c0.482075,0.380867 2.544574,2.047533 2.282124,3.380133c-0.3938,0.084067 -1.122875,-0.4313 -1.122875,-0.4313c0,0 -0.33405,0.4729 -0.746675,0.544833c-0.30335,0.056633 -0.58675,0.1372 -0.71955,-0.2763c-0.71095,0.205167 -1.971599,-0.552333 -1.971599,-0.552333c0,0 -0.970075,-0.938233 -1.42765,-1.936833c-0.2477,-0.5354 -0.638475,-0.0394 -0.13135,-1.443367c0.50715,-1.403967 -0.0521,-1.681467 -0.0521,-1.681467c0,0 -1.133575,0.7206 -1.888799,0.677167c-0.371175,-0.0246 -0.651,-0.8322 -0.651,-0.8322c0,0 0.136325,-1.685467 0.046375,-3.162666c-0.13275,-2.1015 -0.509675,-4.210533 -0.509675,-4.210533c0,0 -0.907975,-1.295833 -1.6161,-5.009866c-0.4897,-2.563866 -0.5418,-6.158799 -0.88445,-8.805966c-0.34265,-2.692566 -1.03085,-4.461766 -0.974375,-4.420533c-1.650225,2.7921 -3.719074,3.454866 -3.719074,3.454866c0,0 0.33765,4.2428 0.05355,7.702299c-0.2727,3.3357 -1.1657,5.8912 -1.1657,5.8912c0,0 -0.944,3.077066 -1.227075,5.160233c-0.201475,1.4828 0.040225,1.846367 0.22415,2.214933c1.121425,1.743567 6.121423,-1.4231 7.308923,0.856833c0.122075,0.090833 0.380475,0.518233 0.679575,0.760333c0.31765,0.257333 0.94725,1.5285 0.757375,1.672233c-0.15775,0.124833 -0.496825,-0.017033 -0.496825,-0.017033c0,0 0.09135,0.777367 -0.1185,1.061133c-0.22415,0.289367 -0.746675,0.0926 -0.746675,0.0926c0,0 -0.3405,-0.359367 -0.979375,-0.461433c-0.608175,-0.0965 -1.521175,0.064233 -1.521175,0.064233c0,0 -2.480649,-1.202 -4.669899,0.786933c-1.1545,0.802733 -2.036549,0.8077 -3.205824,1.000567c-0.651,0.107833 -0.945825,-0.5655 -0.945825,-0.5655c0,0 -0.214875,0.3802 -0.6453,0.7093c-0.4904,0.366933 -1.01365,0.907867 -1.01365,0.907867c0,0 0.24555,0.403 0.640325,0.6885c0.249125,0.174133 0.719525,0.283833 0.719525,0.283833c0,0 1.817075,0.3754 3.534199,-0.353667c0.284825,-0.0227 2.366349,1.465833 2.636899,1.7836c0.2063,0.238367 -0.2011,0.973833 -0.5468,1.1652c-1.76555,1.391367 -3.015549,-0.6642 -5.843423,0.762367c-2.609624,0.420667 -3.688374,-0.053033 -4.558549,-0.8928c-0.577475,-0.556167 -0.6246,-1.744067 -0.6246,-1.744067c0,0 -0.8359,-1.4887 -0.902275,-2.8733c-0.028575,-0.6109 1.103575,-2.784333 1.57685,-3.892733c0.38975,-0.904133 0.847325,-2.010667 0.847325,-2.010667c0,0 0.365475,-1.028967 0.613175,-2.3417c0.184875,-0.953467 0.21915,-2.0788 0.446875,-2.992433c0.272675,-1.119867 0.75665,-2.004967 0.75665,-2.004967c0,0 -1.309175,-1.382733 -2.312099,-3.113533c-1.24135,-2.149733 -2.221449,-4.727866 -2.221449,-4.727866c0,0 -3.230799,-3.181566 -5.643548,-7.009033c-1.526875,-2.416533 -2.662599,-6.153199 -2.662599,-6.153199c0,0 -0.565825,0.784567 -1.368425,1.777133c-5.702773,7.052599 -6.159223,21.397365 -7.952773,36.941497c-1.166675,10.111099 -3.951074,16.565265 -5.757798,18.659165c-1.644675,1.908533 -3.708349,2.006933 -3.708349,2.006933c0,0 -1.2899,0.028333 -1.436925,-0.325367c-0.14135,-0.3273 0.866575,-1.0442 0.866575,-1.0442c0,0 1.849724,-1.2624 3.010224,-3.260966c4.859599,-8.368899 5.349299,-32.635431 7.526273,-42.924463c1.10015,-5.1997 2.583324,-19.111098 12.932871,-26.703798c7.520698,-5.5174 23.775443,-9.240633 27.847292,-16.123399c0.818075,-1.382833 1.70465,-2.8118 1.70465,-2.8118z" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none" class="SLrXQrqq_10"></path>
    <path stroke="#000" id="svg_12" d="m477.857695,208.805361c0,0 0,-2.813734 -0.848724,-4.6352c-0.486352,-1.029033 -2.039563,-1.552033 -2.039563,-1.552033c0,0 -1.667946,-0.756534 -3.689196,-0.595834c-1.565929,0.123967 -3.590703,1.169867 -3.590703,1.169867c0,0 -2.237288,0.069167 -3.005119,1.482967c-0.937433,1.738366 0.542599,3.766033 0.542599,3.766033c0,0 -0.196345,1.183199 -0.951482,2.177199c-0.622137,0.817167 -1.832643,1.4933 -1.832643,1.4933c0,0 -0.229423,0.205367 -0.401169,0.596c-0.152004,0.356467 -0.240662,0.9145 -0.240662,0.9145c0,0 -0.746018,0.6724 -0.797408,1.505667c-0.056986,0.890833 0.582035,1.949199 0.582035,1.949199c0,0 0.291338,1.6466 0.820602,2.835367c0.341324,0.771767 1.002897,1.265433 1.002897,1.265433c0,0 1.515919,1.569033 3.367567,1.931367c1.400517,0.273166 3.270478,-0.635667 3.270478,-0.635667c0,0 -0.960676,3.704533 -0.852299,7.478233c-0.153507,5.923166 3.512865,10.923166 5.081283,17.594065c0.553887,2.0098 0.212539,4.345833 0.212539,4.345833c0,0 0.159053,5.862833 0.744588,11.083366c0.477183,4.290033 1.393493,8.124199 1.393493,8.124199c0,0 -0.560764,2.317366 -0.424387,3.8115c-0.475285,0.380866 -2.508735,2.047533 -2.249981,3.380133c0.388253,0.084066 1.107059,-0.4313 1.107059,-0.4313c0,0 0.329345,0.4729 0.736158,0.544833c0.299077,0.056633 0.578486,0.1372 0.709415,-0.2763c0.700937,0.205167 1.94383,-0.552333 1.94383,-0.552333c0,0 0.956412,-0.938233 1.407542,-1.936833c0.244211,-0.5354 0.629482,-0.0394 0.1295,-1.443367c-0.500007,-1.403966 0.051366,-1.681466 0.051366,-1.681466c0,0 1.117609,0.7206 1.862196,0.677166c0.365947,-0.0246 0.641831,-0.8322 0.641831,-0.8322c0,0 -0.134405,-1.685466 -0.045722,-3.162666c0.13088,-2.1015 0.502496,-4.210533 0.502496,-4.210533c0,0 0.895187,-1.295833 1.593338,-5.009866c0.482802,-2.563867 0.534168,-6.1588 0.871992,-8.805966c0.337824,-2.692567 1.016331,-4.461767 0.960651,-4.420533c1.626982,2.792099 3.666693,3.454866 3.666693,3.454866c0,0 -0.332894,4.2428 -0.052796,7.702299c0.268859,3.3357 1.149282,5.8912 1.149282,5.8912c0,0 0.930703,3.077066 1.209791,5.160233c0.198637,1.4828 -0.039658,1.846366 -0.220993,2.214933c-1.105629,1.743567 -6.035206,-1.4231 -7.20598,0.856833c-0.120356,0.090834 -0.375115,0.518234 -0.670003,0.760334c-0.313176,0.257333 -0.933908,1.528499 -0.746708,1.672233c0.155528,0.124833 0.489827,-0.017034 0.489827,-0.017034c0,0 -0.090063,0.777367 0.116831,1.061134c0.220993,0.289366 0.736157,0.0926 0.736157,0.0926c0,0 0.335704,-0.359367 0.965581,-0.461434c0.599609,-0.0965 1.49975,0.064234 1.49975,0.064234c0,0 2.44571,-1.202 4.604126,0.786933c1.138238,0.802733 2.007865,0.8077 3.160672,1.000567c0.64183,0.107833 0.932503,-0.5655 0.932503,-0.5655c0,0 0.211849,0.3802 0.636211,0.7093c0.483493,0.366933 0.999373,0.907866 0.999373,0.907866c0,0 -0.242092,0.403 -0.631306,0.6885c-0.245616,0.174133 -0.709391,0.283833 -0.709391,0.283833c0,0 -1.791481,0.3754 -3.484422,-0.353666c-0.280813,-0.0227 -2.33302,1.465833 -2.59976,1.7836c-0.203394,0.238366 0.198268,0.973833 0.539099,1.165199c1.740682,1.391367 2.973076,-0.664199 5.761121,0.762367c2.57287,0.420667 3.636425,-0.053033 4.494344,-0.8928c0.569342,-0.556166 0.615803,-1.744066 0.615803,-1.744066c0,0 0.824127,-1.4887 0.889567,-2.8733c0.028173,-0.6109 -1.088032,-2.784333 -1.554641,-3.892733c-0.384261,-0.904133 -0.835391,-2.010667 -0.835391,-2.010667c0,0 -0.360327,-1.028966 -0.604539,-2.341699c-0.182271,-0.953467 -0.216063,-2.0788 -0.44058,-2.992434c-0.268835,-1.119866 -0.745993,-2.004966 -0.745993,-2.004966c0,0 1.290735,-1.382733 2.279534,-3.113533c1.223866,-2.149733 2.190161,-4.727866 2.190161,-4.727866c0,0 3.185296,-3.181567 5.564062,-7.009033c1.50537,-2.416533 2.625098,-6.1532 2.625098,-6.1532c0,0 0.557856,0.784567 1.349151,1.777134c5.622452,7.052599 6.072473,21.397364 7.840762,36.941497c1.150242,10.111099 3.895425,16.565265 5.676702,18.659165c1.621511,1.908533 3.656119,2.006933 3.656119,2.006933c0,0 1.271732,0.028333 1.416687,-0.325367c0.139359,-0.3273 -0.85437,-1.0442 -0.85437,-1.0442c0,0 -1.823673,-1.2624 -2.967826,-3.260966c-4.791154,-8.368899 -5.273957,-32.635431 -7.420269,-42.924463c-1.084655,-5.1997 -2.54694,-19.111099 -12.750719,-26.703798c-7.414773,-5.5174 -23.440577,-9.240633 -27.455076,-16.123399c-0.806553,-1.382833 -1.680641,-2.811799 -1.680641,-2.811799z" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none" class="SLrXQrqq_11"></path>
    <path d="m126.5,223c-1,2 -1,3 0,3c2,0 2.693436,-0.458801 4,-1c1.847763,-0.765366 2.693436,-1.458801 4,-2c1.847763,-0.765366 2.823746,-1.486252 5,-2c0.973251,-0.229752 2.824432,-1.097885 4,-3c1.051468,-1.701309 1,-3 1,-4c0,-2 0,-3 0,-4c0,-1 0,-3 0,-4c0,-1 -0.693436,-2.458801 -2,-3c-1.847763,-0.765366 -3,0 -4,1c-1,1 -2.917603,1.386871 -4,4c-0.38269,0.923874 -1,2 -1,4c0,1 0,2 0,3c0,2 0,3 0,4c0,2 0,3 0,4c0,2 0.61731,3.076126 1,4c0.541199,1.306564 0.585785,2.585785 2,4c0.707108,0.707108 1.076126,0.61731 2,1c1.306564,0.541199 2,1 3,1c1,0 3,0 4,0l1,1" id="svg_13" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_12"></path>
    <path d="m182.5,206c-1,0 -2.585785,-0.414215 -4,1c-0.707108,0.707108 -0.61731,1.076126 -1,2c-0.541199,1.306564 -1.692551,1.186005 -3,3c-0.826904,1.147263 -2.458801,1.693436 -3,3c-0.38269,0.923874 -1,3 -1,4c0,1 -1,3 -1,4c0,1 0,2 2,2c1,0 2,0 4,0c1,0 1.458801,-0.693436 2,-2c0.38269,-0.923874 1,-3 1,-4c0,-1 0,-2 0,-4c0,-1 0,-2 0,-4c0,-1 -0.176254,-4.513748 2,-4c0.973251,0.229752 0,2 0,4c0,1 0,2 0,4c0,1 0,2 0,4c0,1 0,2 0,3c0,2 -1,3 -1,4c0,2 0,3 0,4c0,1 -1.458801,2.693436 -2,4c-0.38269,0.923874 -0.458801,2.693436 -1,4c-0.38269,0.923874 -1,3 -1,4c0,2 0,3 0,4c0,1 0,3 0,4c0,1 0,2 0,4c0,1 0,2 0,4l0,1l0,1l0,1" id="svg_14" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_13"></path>
    <path d="m196.5,209c1,-1 1,0 1,1c0,2 0,3 0,4c0,2 0,3 0,4c0,1 0.076126,2.61731 1,3c1.306564,0.541199 1.693436,1.458801 3,2c0.923874,0.38269 3.292892,0.707108 4,0c0.707108,-0.707108 1,-2 1,-3c0,-2 -0.229752,-3.026749 0,-4c0.513748,-2.176254 2,-3 2,-4c0,-1 0,-3 0,-4l0,-1" id="svg_15" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_14"></path>
    <path d="m230.5,201c0,1 0,2 0,4c0,1 0,2 0,3c0,2 0,3 0,4c0,2 0,3 0,4l0,1l0,2" id="svg_16" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_15"></path>
    <path d="m231.5,173c0,-1 -0.61731,-0.923874 -1,0c-0.541199,1.306564 -1,2 -1,4c0,1 0,2 0,3c0,2 0,1 0,0c0,-2 0,-3 0,-4l0,-1" id="svg_17" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_16"></path>
    <path d="m245.5,206c1,0 2.292892,0.292892 3,1c1.414215,1.414215 1.458801,2.693436 2,4c0.765366,1.847763 0.692551,3.186005 2,5c0.826904,1.147263 0.770248,2.026749 1,3c0.513748,2.176254 1.692551,1.813995 3,0c0.826904,-1.147263 1.493469,-2.878555 2,-6c0.160187,-0.987091 -0.765381,-2.152237 0,-4c0.541199,-1.306564 1,-2 2,-4l2,-2" id="svg_19" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_17"></path>
    <path d="m291.5,200c-1,-1 -2,-1 -4,-1c-1,0 -2.186005,1.692551 -4,3c-1.147278,0.826904 -1.824432,2.097885 -3,4c-0.525726,0.850647 -1,3 -1,4c0,1 0,3 0,4c0,1 -0.38269,3.076126 0,4c0.541199,1.306564 2,1 4,1c1,0 2,0 3,0c2,0 3.292908,0.707108 4,0c0.707092,-0.707108 1.458801,-1.693436 2,-3c0.765381,-1.847763 1,-3 1,-4c0,-1 0,-3 0,-4c0,-1 0,-3 0,-4c0,-1 0.707092,-2.292892 0,-3c-0.707092,-0.707108 -2,-1 -3,-2l-2,0l-1,-1" id="svg_20" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_18"></path>
    <path d="m320.5,193c-1,0 -2.186005,0.692551 -4,2c-1.147278,0.826904 -1.458801,2.693436 -2,4c-0.38269,0.923874 -1.458801,0.693436 -2,2c-0.765381,1.847763 -1.486267,2.823746 -2,5c-0.229767,0.973251 0,2 0,4c0,1 0,2 0,3c0,2 0,3 2,3c1,0 2,0 3,0c2,0 3,0 4,0l2,0" id="svg_21" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_19"></path>
    <path d="m346.5,198c-1,0 -2.186005,-0.307449 -4,1c-1.147278,0.826904 -1,2 -3,4c-1,1 -1.474274,3.149353 -2,4c-1.175568,1.902115 -2.61731,3.076126 -3,4c-0.541199,1.306564 -2,3 -2,4c0,1 0.852722,2.173096 2,3c1.813995,1.307449 3,1 4,1c2,0 3.076111,0.38269 4,0c1.306549,-0.541199 1.61731,-3.076126 2,-4c0.541199,-1.306564 2,-3 2,-4c0,-2 0,-3 0,-4c0,-1 0,-3 0,-4c0,-1 0,-2 0,-4c0,-1 1,-1 1,0c0,1 -0.765381,2.152237 0,4c0.541199,1.306564 1.234619,2.152237 2,4c0.541199,1.306564 -0.414215,2.585785 1,4c0.707092,0.707108 1.186005,0.692551 3,2c1.147278,0.826904 1.823761,2.486252 4,3c0.973236,0.229752 2,0 4,0l1,0" id="svg_22" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_20"></path>
    <path d="m352.5,282c-1,-1 -3.292908,-1.707092 -4,-1c-0.707092,0.707092 -0.765381,2.152252 0,4c0.541199,1.306549 2,1 4,1c1,0 2,0 3,-1c1,-1 1.707092,-3.292908 1,-4c-0.707092,-0.707092 -1,-1 -3,-1l-1,0l-1,0" id="svg_23" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_21"></path>
    <path d="m382.5,291c0,1 0,2 0,3c0,2 0,3 2,3c1,0 1.292908,-1.292908 2,-2c0.707092,-0.707092 1.61731,-2.076111 2,-3c0.541199,-1.306549 1,-2 0,-2c-1,0 -2,0 -4,0l-1,1l-1,1" id="svg_24" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_22"></path>
    <path d="m375.5,311c-1,-1 -2.152252,-0.234619 -4,-1c-1.306549,-0.541199 -3,-2 -4,-2c-1,0 -2.61731,-0.076111 -3,-1c-0.541199,-1.306549 -2,-1 -3,-1c-2,0 -2.693451,-1.458801 -4,-2c-1.847748,-0.765381 -2.076111,-0.61731 -3,-1c-1.306549,-0.541199 -2.152252,-1.234619 -4,-2c-1.306549,-0.541199 -1.823761,-2.486267 -4,-3c-0.973236,-0.229767 -1.852722,-1.173096 -3,-2c-1.813995,-1.307465 -3.292908,-2.707092 -4,-2c-1.414215,1.414215 0,3 0,4c0,1 0,3 0,4c0,1 0,3 0,4c0,1 -0.229767,2.026764 0,3c0.513733,2.176239 2,3 3,3c2,0 2.693451,1.458801 4,2c1.847748,0.765381 2.693451,0.458801 4,1c1.847748,0.765381 3,0 4,0c2,0 3,0 4,0c1,0 3,0 4,0c1,0 3,0 4,0c1,0 3,-1 4,-2l1,0" id="svg_25" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none" class="SLrXQrqq_23"></path>
  </g>
  <style>.SLrXQrqq_0 {
    stroke-dasharray: 1968 1970;
    stroke-dashoffset: 1969;
  }

  .start .SLrXQrqq_0 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 0ms forwards;
  }

  .SLrXQrqq_1 {
    stroke-dasharray: 96 98;
    stroke-dashoffset: 97;
  }

  .start .SLrXQrqq_1 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 4ms forwards;
  }

  .SLrXQrqq_2 {
    stroke-dasharray: 105 107;
    stroke-dashoffset: 106;
  }

  .start .SLrXQrqq_2 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 8ms forwards;
  }

  .SLrXQrqq_3 {
    stroke-dasharray: 123 125;
    stroke-dashoffset: 124;
  }

  .start .SLrXQrqq_3 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 13ms forwards;
  }

  .SLrXQrqq_4 {
    stroke-dasharray: 93 95;
    stroke-dashoffset: 94;
  }

  .start .SLrXQrqq_4 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 17ms forwards;
  }

  .SLrXQrqq_5 {
    stroke-dasharray: 65 67;
    stroke-dashoffset: 66;
  }

  .start .SLrXQrqq_5 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 21ms forwards;
  }

  .SLrXQrqq_6 {
    stroke-dasharray: 84 86;
    stroke-dashoffset: 85;
  }

  .start .SLrXQrqq_6 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 26ms forwards;
  }

  .SLrXQrqq_7 {
    stroke-dasharray: 83 85;
    stroke-dashoffset: 84;
  }

  .start .SLrXQrqq_7 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 30ms forwards;
  }

  .SLrXQrqq_8 {
    stroke-dasharray: 69 71;
    stroke-dashoffset: 70;
  }

  .start .SLrXQrqq_8 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 34ms forwards;
  }

  .SLrXQrqq_9 {
    stroke-dasharray: 72 74;
    stroke-dashoffset: 73;
  }

  .start .SLrXQrqq_9 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 39ms forwards;
  }

  .SLrXQrqq_10 {
    stroke-dasharray: 444 446;
    stroke-dashoffset: 445;
  }

  .start .SLrXQrqq_10 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 43ms forwards;
  }

  .SLrXQrqq_11 {
    stroke-dasharray: 442 444;
    stroke-dashoffset: 443;
  }

  .start .SLrXQrqq_11 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 47ms forwards;
  }

  .SLrXQrqq_12 {
    stroke-dasharray: 84 86;
    stroke-dashoffset: 85;
  }

  .start .SLrXQrqq_12 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 52ms forwards;
  }

  .SLrXQrqq_13 {
    stroke-dasharray: 107 109;
    stroke-dashoffset: 108;
  }

  .start .SLrXQrqq_13 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 56ms forwards;
  }

  .SLrXQrqq_14 {
    stroke-dasharray: 39 41;
    stroke-dashoffset: 40;
  }

  .start .SLrXQrqq_14 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 60ms forwards;
  }

  .SLrXQrqq_15 {
    stroke-dasharray: 18 20;
    stroke-dashoffset: 19;
  }

  .start .SLrXQrqq_15 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 65ms forwards;
  }

  .SLrXQrqq_16 {
    stroke-dasharray: 17 19;
    stroke-dashoffset: 18;
  }

  .start .SLrXQrqq_16 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 69ms forwards;
  }

  .SLrXQrqq_17 {
    stroke-dasharray: 39 41;
    stroke-dashoffset: 40;
  }

  .start .SLrXQrqq_17 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 73ms forwards;
  }

  .SLrXQrqq_18 {
    stroke-dasharray: 64 66;
    stroke-dashoffset: 65;
  }

  .start .SLrXQrqq_18 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 78ms forwards;
  }

  .SLrXQrqq_19 {
    stroke-dasharray: 38 40;
    stroke-dashoffset: 39;
  }

  .start .SLrXQrqq_19 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 82ms forwards;
  }

  .SLrXQrqq_20 {
    stroke-dasharray: 85 87;
    stroke-dashoffset: 86;
  }

  .start .SLrXQrqq_20 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 86ms forwards;
  }

  .SLrXQrqq_21 {
    stroke-dasharray: 26 28;
    stroke-dashoffset: 27;
  }

  .start .SLrXQrqq_21 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 91ms forwards;
  }

  .SLrXQrqq_22 {
    stroke-dasharray: 24 26;
    stroke-dashoffset: 25;
  }

  .start .SLrXQrqq_22 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 95ms forwards;
  }

  .SLrXQrqq_23 {
    stroke-dasharray: 92 94;
    stroke-dashoffset: 93;
  }

  .start .SLrXQrqq_23 {
    animation: SLrXQrqq_draw 2900ms ease-in-out 100ms forwards;
  }

  @keyframes SLrXQrqq_draw {
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes SLrXQrqq_fade {
    0% {
      stroke-opacity: 1;
    }
    94.44444444444444% {
      stroke-opacity: 1;
    }
    100% {
      stroke-opacity: 0;
    }
  }</style>
</svg>

<ul>
  <% @objectives.each do |objective| %>

      <li class="animated  fadeInUpBig"><%= objective.name %></li>

  <% end %>
</ul>
<script>
  var vivus = new Vivus('pablo', {duration: 200});
  vivus.play(1);
</script>
<%= link_to 'Nueva razón', example_new_path %>
